/** 
 * SpecVCS default theme
 */
.root {
	/********************************************
	 * A selection of color themes that work well
	 ********************************************/
	-specvcs-base: #242424;
	-fx-base: -specvcs-base;
	
	-fx-control-inner-background: derive(-specvcs-base,60%);
    
    /* Color for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars
     */
    -fx-accent: derived(-specvcs-base,-20%);
    
    /* Default buttons color */
    -fx-default-button: derived(-specvcs-base, -28%);

    /* Colors for the focus indicator of objects.   */
    -fx-focus-color: derived(-specvcs-base,-20%);
    -fx-faint-focus-color: derived(-specvcs-base,-20%);

  	/* The opacity level to use for the "disabled" pseudoclass. */
    -fx-disabled-opacity: 0.4;
  
	-fx-font-family: Verdana;
	-fx-font-size: 9pt;
	/* -fx-font-family: sans-serif;-fx-alignment: */
	
	-specvcs-header-bg-color: derived(-specvcs-base,-70%);
	-specvcs-header-bg-gradient: radial-gradient(focus-angle 45deg, focus-distance 0%, center 50% 0%, radius 90%, derive(-specvcs-header-bg-color,+70.0%) 2.0%, -specvcs-header-bg-color 98.0%);
	-specvcs-header-text-color: ladder(-specvcs-header-bg-color, white 49%, black 50%);
}

/**
 * e4 workbench styling
 */
#decorationArea {
	-fx-background-color: -specvcs-header-bg-gradient;
}
#app_logo {
	-fx-image: url("images/logo.png");
}
#window-resize-button {
    -fx-background-image: url("images/window-corner.png");
    -fx-background-position: right 1.0px bottom 1.0px;
    -fx-background-repeat: no-repeat;
}
#window_close {
    -fx-font-size: 1.0px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-close.png");
    -fx-padding: 6.0 6.0 4.0 6.0;
}
#window_min {
    -fx-font-size: 1.0px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-min.png");
    -fx-padding: 6.0 6.0 4.0 6.0;
}
#window_max {
    -fx-font-size: 1.0px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-expand.png");
    -fx-padding: 6.0 6.0 4.0 6.0;
}
#window_close:hover {
    -fx-background-image: url("images/window-close-over.png");
}
#window_min:hover {
    -fx-background-image: url("images/window-min-over.png");
}
#window_max:hover {
    -fx-background-image: url("images/window-expand-over.png");
}
.menu-bar {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-background,30.0%), derive(-fx-background,0));        
}
.tool-bar {
	-fx-background-color: transparent;
}
.MTrimBar {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-background,30.0%), derive(-fx-background,0));  
}
.window-content-container {
	-fx-padding: 0.25em;
}
.MPartSashContainer {
	-fx-background-color: transparent;
}

/**
 * General UI Styles
 */
.split-pane {
	-fx-padding: 0;
	-fx-border-width: 0;
    -fx-background-color: transparent;
}
.split-pane-divider {
    -fx-padding: 2;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}
.tree-cell:odd  {
	-fx-background-color: -fx-control-inner-background-alt;   
}
.tree-cell:odd:selected {
	-fx-background-color: -fx-focus-color
}